@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: blue;
  --secondary: #a020f0;
  --secondary2: #540d6e;
  --secondary3: #fb6f92;
  --accent: green;
  --accent2: fuchsia;
  --accent3: #fff;
  /* --playerWidth: 50%;
  --aspectRatio: 178.57%;
  --playerHeight: 1%; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
/* 
button:hover {
  opacity: 0.5;
  filter: invert(1);
  scale: 1.2;
  transition-property: all;
  transition-duration: 200ms;
}

button:active {
  opacity: 1;
  filter: invert(0);
} */

.hidden-scrollbar {
  scrollbar-color: transparent transparent;
}

::-webkit-scrollbar {
  display: none;
}

@keyframes ldio-ytc0y0550u {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 18px;
    left: 18px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
}
.ldio-ytc0y0550u div {
  position: absolute;
  border-width: 4px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ldio-ytc0y0550u 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.ldio-ytc0y0550u div:nth-child(1) {
  border-color: #e4d8eb;
  animation-delay: 0s;
}
.ldio-ytc0y0550u div:nth-child(2) {
  border-color: #caacd4;
  animation-delay: -0.5s;
}
.loadingio-spinner-ripple-rze5vz6anv {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-ytc0y0550u {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-ytc0y0550u div {
  box-sizing: content-box;
}

video {
  position: relative;
  left: 0;
  top: 0;
  transform: none;
}
