// :root {
//   --test: blue;
// }
@media (max-width: 1024px) {
  #ratio {
    position: relative;
    display: block;

    width: 100vw;
    max-height: 100vh;
    padding-top: var(--playerHeight);
  }
  #ratio2 {
    position: relative;
    display: block;

    width: 100vw;
    max-height: 100vh;
    padding-top: var(--playerHeight);
  }
  #vignette {
    // box-shadow: 0rem 0rem 1rem 1.2rem white inset;

    pointer-events: none;
    box-shadow: 0rem 0rem 1rem 1.2rem black inset;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  #ratio {
    position: relative;
    display: block;

    width: var(--playerWidth);

    max-width: var(--aspectRatio);
    padding-top: var(--playerHeight);
  }
  #ratio2 {
    position: relative;
    display: block;
    width: var(--playerWidth);

    max-width: var(--aspectRatio);

    padding-top: var(--playerHeight);
  }
  #vignette {
    // box-shadow: 0rem 0rem 1rem 1.2rem red inset;

    pointer-events: none;
    box-shadow: 0rem 0rem 1rem 1.2rem black inset;
  }
}
@media (min-width: 1280px) and (max-width: 1536px) {
  #ratio {
    width: 100%;
    max-width: var(--aspectRatio);
    position: relative;
    display: block;
    height: 100vh;
  }
  #ratio2 {
    width: 100%;
    max-width: var(--aspectRatio);
    position: relative;
    display: block;
    // padding-top: ;
    max-height: 100vh;

    padding-top: var(--playerHeight);
  }
  #vignette {
    pointer-events: none;
    box-shadow: 0rem 0rem 1rem 1.2rem black inset;
    // box-shadow: 0rem 0rem 1rem 1.2rem green inset;
  }
}
@media (min-width: 1536px) {
  #ratio2 {
    // width: 100%;
    min-width: var(--aspectRatio);
    position: relative;
    display: block;
    // padding-top: ;
    height: 100%;
    max-height: 100vh;
  }
  #vignette {
    // box-shadow: 0rem 0rem 1rem 1.2rem fuchsia inset;

    pointer-events: none;
    box-shadow: 0rem 0rem 1rem 1.2rem black inset;
  }
}
.vignette {
  z-index: 51;
  // box-shadow: 0rem 0rem 1rem 1.2rem rgb(79, 136, 123) inset;
  pointer-events: none;
  box-shadow: 0rem 0rem 1rem 1.2rem black inset;
  // box-shadow: 0rem 0rem 1rem 1.2rem black inset;
}
#vignette {
  // box-shadow: 0rem 0rem 1rem 1.2rem rgb(94, 194, 17) inset;
  // box-shadow: 0rem 0rem 1rem 1.2rem black inset;
  // box-shadow: 0rem 0rem 1rem 1.2rem var(--test) inset;
  // background-color: rgba(255, 255, 2, 1);
  // background-color: rgba(255, 255, 2, 0.9);
}

#button {
  box-shadow: 1px 1px 3px 2px rgb(68, 68, 68);
}
