/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * littlebit-dotty-variable:
 *   - http://typekit.com/eulas/0000000000000000774c35c0
 * littlebit-loopy-variable:
 *   - http://typekit.com/eulas/0000000000000000774c35bd
 * littlebit-square-variable:
 *   - http://typekit.com/eulas/0000000000000000774c35be
 *
 * © 2009-2023 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2023-05-30 20:39:34 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=qln6ttz&ht=tk&f=51624.51625.51626&a=137351489&app=typekit&e=css");

@font-face {
  font-family: "littlebit-dotty-variable";
  src: url("https://use.typekit.net/af/356cda/0000000000000000774c35c0/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/356cda/0000000000000000774c35c0/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/356cda/0000000000000000774c35c0/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "littlebit-loopy-variable";
  src: url("https://use.typekit.net/af/98ef39/0000000000000000774c35bd/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/98ef39/0000000000000000774c35bd/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/98ef39/0000000000000000774c35bd/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "littlebit-square-variable";
  src: url("https://use.typekit.net/af/e58a62/0000000000000000774c35be/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/e58a62/0000000000000000774c35be/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/e58a62/0000000000000000774c35be/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

.tk-littlebit-dotty-variable {
  font-family: "littlebit-dotty-variable", sans-serif;
}

.tk-littlebit-loopy-variable {
  font-family: "littlebit-loopy-variable", sans-serif;
}
*,
.tk-littlebit-square-variable {
  font-family: "littlebit-square-variable", sans-serif;
  font-variation-settings: "BLOC" 1, "OPEN" 1;
}
